<!doctype html>
<title>Hello from Flask</title>
<a download="../uploads/compressed_jpeg.jpg" href="../uploads/compressed_jpeg.jpg" title="CompressedJpeg">
    <img alt="CompressedJpeg" src="../uploads/compressed_jpeg.jpg">
</a>
<br>
<a download="../uploads/nach_binry.tiff" href="../uploads/nach_binry.tiff" title="CompressedTiffBinary">
    <img alt="CompressedTiffBinary" src="../uploads/nach_binry.tiff">
</a>
<br>
<a download="../uploads/nach_binry_10.tiff" href="../uploads/nach_binry_10.tiff" title="CompressedTiffBinary10">
    <img alt="CompressedTiffBinary10" src="../uploads/nach_binry_10.tiff">
</a>
<br>
<a download="../uploads/nach_binry_ostu.tiff" href="../uploads/nach_binry_ostu.tiff" title="CompressedTiffOstu">
    <img alt="CompressedTiffOstu" src="../uploads/nach_binry_ostu.tiff">
</a>
</html>