<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <h3 class="text-muted">Snapmint's Image Compression</h3>
        <h5 class="text-muted">If you see same image, it's probably because of browser cache. Hit CTRL + R</h5>
    </div>
    <hr/>
    <div>

        <form action="upload" method="post" enctype="multipart/form-data" target="_blank">
            <input type="file" name="file"><br/><br/>
            <input type="submit" value="Upload">
        </form>
    </div>

    <div>
        <p>If your image is PDF click below to convert to jpeg</p>
        <form action="convert" target="_blank">
            <input type="submit" value="Convert"/>
        </form>
    </div>

     <br>
    <div>Set threshold (0 - 1)</div>
    <div>try to detect edges/corners without changing threshold, if fails then change it.
    (hint: start with 0.7) </div>
    <form action="." method="POST">
        <input type="text" name="text">
        <input type="submit" name="my-form" value="Send">
    </form>

    <br>
    <div>
        <p>Detect edges in Image</p>
        <form action="detect_edges" target="_blank">
            <input type="submit" value="Detect Edges"/>
        </form>
    </div>

    <br>
    <div>
        <p>Write account number on NACH</p>
        <form action="overwrite_account" method="post" target="_blank">
            <table style="width:80%">
                <tr>
                    <td> Account Number </td>
                    <td> X </td>
                    <td> Y </td>
                    <td> Font Size </td>
                </tr>
                <tr>
                    <td><input type="text" name="account_number"></td>
                    <td><input type="text" name="account_number_x"></td>
                    <td><input type="text" name="account_number_y"></td>
                    <td><input type="text" name="account_number_font"></td>
                </tr>
            </table>
            <input type="submit" name="account" value="Set Account"/>
        </form>
    </div>

    <div>
        <p>Write IFSC on NACH</p>
        <form action="overwrite_ifsc" method="post" target="_blank">
            <table style="width:80%">
                <tr>
                    <td> IFSC Code </td>
                    <td> X (start around 4000) </td>
                    <td> Y (start around 1000) </td>
                    <td> Font Size </td>
                </tr>
                <tr>
                    <td><input type="text" name="ifsc_code"></td>
                    <td><input type="text" name="ifsc_code_x"></td>
                    <td><input type="text" name="ifsc_code_y"></td>
                    <td><input type="text" name="ifsc_code_font"></td>
                </tr>
            </table>
            <input type="submit" name="ifsc" value="Set IFSC"/>
        </form>
    </div>

    <div>
        <p>Write CDF on NACH</p>
        <form action="overwrite_cdf" method="post" target="_blank">
            <table style="width:80%">
                <tr>
                    <td> CDF Number </td>
                    <td> X (start around 0) </td>
                    <td> Y (start around 0) </td>
                    <td> Font Size (start around 180) </td>
                </tr>
                <tr>
                    <td><input type="text" name="cdf_code"></td>
                    <td><input type="text" name="cdf_code_x"></td>
                    <td><input type="text" name="cdf_code_y"></td>
                    <td><input type="text" name="cdf_code_font"></td>
                </tr>
            </table>
            <input type="submit" name="cdf" value="Set CDF"/>
        </form>
    </div>


    <div>
        <p>Write BANK NAME on NACH</p>
        <form action="overwrite_bank_name" method="post" target="_blank">
            <table style="width:80%">
                <tr>
                    <td> Bank Name </td>
                    <td> X (start around 0) </td>
                    <td> Y (start around 0) </td>
                    <td> Font Size (start around 180) </td>
                </tr>
                <tr>
                    <td><input type="text" name="bank_name"></td>
                    <td><input type="text" name="bank_name_x"></td>
                    <td><input type="text" name="bank_name_y"></td>
                    <td><input type="text" name="bank_name_font"></td>
                </tr>
            </table>
            <input type="submit" name="bank" value="Set BANK"/>
        </form>
    </div>


    <br>
    <div>
        <p>After finalizing your account number and ifsc codes.</p>
        <p>Click below, it will prepare the image for compression</p>
        <form action="final_image" target="_blank">
            <input type="submit" value="Final Image"/>
        </form>
    </div>

    <br>
    <div>
        <p>Generate Compressed JPEG and TIFF links</p>
        <form action="compression" target="_blank">
            <input type="submit" value="Compression"/>
        </form>
    </div>
</div>
</body>
</html>
